<div class="search">
  <form #form="ngForm"(submit)="get()">

    <input type="text"  placeholder="Enter city" [(ngModel)]="city" name="city">
  
</form>
</div>
<div class="container">
  
  <div class="upperdata">
    
    <img src="../assets/hot.jpg" *ngIf="temp > 15">
    <img src="../assets/cold.jpg" *ngIf="temp <= 15">
    <div class="weatherdata">
      <div class="location">{{city}}</div>
      
      <div class="temperature">{{temp | number:'1.0-0'}}°C</div>
    </div>
  </div>
  <div class="lowerdata">
    <div class="more-info-label">
      More information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/min.png" alt="">
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{tempmin}}°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max.png" alt="">
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{tempmax}}°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png" alt="">
          <span>Humidity</span>
        </div>
        <div class="info-block-value">
          {{humidity}}
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.jpg" alt="">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{wind}}km/hr
        </div>
      </div>
    </div>

  </div>
</div>
<router-outlet></router-outlet>
